<html>
	<head>{% if title %}
		<title>{{ title }} - Micro Blog</title>
		{% else %}
		<title> Welcome Micro Blog</title>
		{% endif %}
	</head>
	<body>
	  <div>MicroBlog:
	    <a href="{{ url_for('index') }}">Home</a>
	    {% if current_user.is_anonymous %}
	    <a href="{{ url_for('login') }}">Sign In</a>
	    {% else %}
	    <a href="{{ url_for('logout') }}">Sign Out</a>
	    {% endif %}
	  </div>
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  {% for message in messages %}
	  <ui>
	    <li>{{ message }}</li>
	  </ui>
	  {% endfor %}
	  {% endif %}
	  {% endwith %}
	  {% block content %} {% endblock %}
	</body>
</html>
